@import url("reset.css");

h2 {
    color: rgb(255, 75, 75);
    font-size: larger;
}

.header_container h1 {
    color: rgb(153, 27, 27);
}

/* .main_container {
    color: rgb(18, 81, 81);
} */

#info {
    color: brown;
}

#what_profession ul {
    color: blue;
}

#what_profession img {
    height: 300px;
    width: 400px;
}

#actual_professions ul {
    color: green;
}

.choose_professions>li {
    font-weight: bold;
}

ol>ul {
    color: gray;
}

#what_need_now ol {
    color: blue;
}

#where_studying ul {
    color: green;
}

li span {
    color: blueviolet;
}

.footer_container {
    background-color: azure;
}

.footer_container h4 {
    text-align: center;
    color: blueviolet;
}