@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap);

body {}

/* ------------------VENCE---------------- */
.vence_wrapper {
    min-height: 600px;
    font-family: "Poppins", sans-serif;
    color: rgb(229, 229, 229);
    font-size: 12px;
    background: url(../img/vence/bgVence.png) 50% / cover no-repeat, rgb(33, 37, 41);
    margin: 0 auto;
    margin-bottom: 100px;
}

.content_container {
    max-width: 605px;
    padding-left: 100px;
    padding-top: 338px;
    line-height: 1.6;

}

.date {
    margin-bottom: 15px;
}

.title_content {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}

.text_content {}

/* -----------------Sound Speakers --------------*/

.grid_wrapper {
    max-height: 560px;
    font-family: "Inter", sans-serif;
    background: url(../img/grid/Vector2.png) right top no-repeat, url(../img/grid/Vector1.png) right top no-repeat, url(../img/grid/bgSpeaker.png) 0 0 / cover no-repeat;
    margin-bottom: 100px;
}

.content_container2 {

    display: inline-block;
    padding-top: 150px;
    vertical-align: middle;
    padding: 145px 179px 150px 135px;
}

.image_container {
    display: inline-block;
    vertical-align: middle;
    max-width: 272px;
}

.image_container img {
    width: 100%;
}

.price {
    color: rgb(48, 86, 211);
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.3;
}

.price p::after {
    content: "$299";
    display: inline-block;
    margin-left: 5px;
}

.price p:hover::after {
    font-size: 20px;
}

.title {
    max-width: 470px;
    color: rgb(33, 43, 54);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 15px;
}

.text {
    max-width: 570px;
    color: rgb(99, 115, 129);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 35px;
}

.button a {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    max-width: 140px;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: rgb(48, 86, 211);
}

.button a:hover {
    box-shadow: 0px 0px 15px 5px black;
}

.button a:active {
    background-color: rgb(84, 20, 90);
    opacity: 0.6;

}

.button a:visited {
    background-color: rgb(84, 20, 90);
}



/* ------------------LISTS---------------- */
.list:not(:last-child) {
    margin-bottom: 60px;
}

.lists {
    font-family: "Intel", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(99, 115, 129);
    line-height: 0.9;
    margin: 0 135px;
}

.list_title {
    font-weight: 400;
    font-size: 26px;
    line-height: 1;
    color: rgb(33, 43, 54);
    margin-bottom: 45px;
}

.unorder_container {
    margin-bottom: 50px;
}

.list_container {}

.first_list {
    margin-bottom: 60px;
    max-width: 1440px;
}


li {
    margin-bottom: 18px;
    line-height: 1;
}

.list li::before {
    vertical-align: bottom;
    width: 20px;
    height: 22px;
    margin-right: 15px;
    align-items: center;
    display: inline-block;
}

.list li:not(:last-child) {
    margin-bottom: 20px;
}

.list1 li::before {
    content: "";
    display: inline-block;
    background: url(../img/lists/unorder/1.png) 4px 0 no-repeat;
    width: 14px;
    height: 10px;
    margin-right: 20px;
    vertical-align: baseline;
}

.list1 li:hover {}

.list2 li::before {
    background: url(../img/lists/unorder/2.png) 0 2px no-repeat;

}

.list3 li::before {
    content: "";
    background: url(../img/lists/unorder/3.png) 0 2px no-repeat;
}

.order_list {
    margin-bottom: 50px;
}

.list4 li::before {
    content: "";
    background: url("../img/lists/unorder/4.png") 0 2px no-repeat;
}



.list5 li::before {
    content: "";
    background: url("../img/lists/unorder/5.png") 0 2px no-repeat;
    vertical-align: top;
}

.list6 li::before {
    content: "";
    background: url("../img/lists/unorder/6.png") 0 2px no-repeat;
}

.list7 li::before {
    content: "";
    background: url(../img/lists/order/1.png) 0 0 no-repeat;
    vertical-align: middle;
    width: 25px;
    height: 25px;


}

/* ------ORDER LIST */
ol {
    counter-reset: item;
}

.list7 li::before {
    counter-increment: item;
    content: counter(item) "";
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 4px;
    vertical-align: middle;
}

.list8 li::before {
    counter-increment: item;
    content: counter(item)"";
    background: url(../img/lists/order/2.png) 0 0 no-repeat;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 4px;
}

.list9 li::before {
    counter-increment: item;
    content: counter(item) "";
    background: url(../img/lists/order/3.svg) 1px 0 no-repeat;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 9px;
}

/* -----------PRACTICE --------*/
.practice {
    padding: 0 50px;
}

.first p:not(:nth-child(3)) {
    font-size: 12px;
}

.first {
    margin-bottom: 20px;
}

.first p:nth-child(2) {
    color: brown;
    font-weight: 400;
}

.first p:last-of-type {
    border: 2px solid violet;
}

.first span:first-of-type {
    text-transform: uppercase;
    color: green;
    font-weight: 400;
}

.practice a {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    background-color: rgb(89, 155, 155);
    border-radius: 35px;
    padding: 5px 15px;
    margin-bottom: 15px;
}

.practice a:hover {
    box-shadow: 0 0 10px 2px rgb(134, 47, 47);
}

.main_block {
    display: none;
}

.main_block p:not(:last-child) {
    margin-bottom: 10px;
}

.main_block:target {
    display: block;
    font-size: 18px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.color_block {}

.color_block:target {
    background: rgb(125, 38, 95);
    font-family: "Poppins", sans-serif;
    color: rgb(223, 217, 217);
    padding: 15px;
    border-radius: 10px;
    max-width: 250px;
    margin-bottom: 15px;
}

footer {
    max-width: 1400px;
    padding: 20px 0px;
    background: antiquewhite;
    outline: 5px solid rgb(89, 155, 155);

}

.second {
    margin-bottom: 25px;
}

.third {
    max-width: 500px;
    margin: 0 auto;
    border: 5px solid rgb(89, 155, 155);
}

.third h2 {
    margin: 0 auto;
    font-size: 30px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    text-align: center;
    padding: 10px;
    background: rgb(152, 135, 135);
    color: antiquewhite;
}

.third h2:hover {
    background: white;
    color: rgb(89, 155, 155);
    box-shadow: 0px 0px 20px 4px black;
}